.explore-menu {
    margin: 2rem 0;
}

.explore-menu h1 {
    color: var(--text-primary);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.explore-menu-text {
    max-width: 60ch;
    color: var(--text-secondary);
    margin-bottom: 1.5rem;
}

.explore-menu-container {
    position: relative;
    margin: 1.5rem 0;
}

.explore-menu-list {
    display: flex;
    gap: 1.875rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 0.625rem 2.5rem;
    margin: 1.25rem 0;
    -ms-overflow-style: none;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
    transition: transform 0.2s;
}

.explore-menu-list-item:hover {
    transform: scale(1.05);
}

.explore-menu-list-item img {
    width: clamp(5rem, 7.5vw, 8rem);
    aspect-ratio: 1;
    border-radius: 50%;
    transition: all 0.2s;
    object-fit: cover;
}

.explore-menu-list-item p {
    margin-top: 0.625rem;
}

.explore-menu-list-item .active {
    border: 0.25rem solid tomato;
    padding: 0.125rem;
}

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    display: grid;
    place-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 1.125rem;
    font-weight: bold;
    transition: all 0.2s;
}

.left-arrow {
    left: -1rem;
}

.right-arrow {
    right: -1rem;
}


@media (max-width:1050px){
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}
